# Database Config
POSTGRES_USER=store_user
POSTGRES_PASSWORD=store_password
POSTGRES_DB=store_db

# Backend Config
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
DEBUG=True

# Frontend Config
VITE_API_URL=http://localhost:8000
